/* Typography for Articles
------------------------------------------------------------------- */

.subheadline {
  font-family: $header-font-family;
  font-size: 0.8em;
  color: $ci-1;
  margin: 0;
}
.teaser {
  font-weight: bold;
}
